
body{
    margin: 10;
    padding: 0;
    background:#5564eb;

}

.izquierda{

box-sizing: border-box;
padding: 1em;
width: 50%;
}

.derecha{
   
    box-sizing: border-box;
    padding: 1em;
    width: 50%;

}

.color1{
    color: red;
    
    }

.color2{
        color:white;
        
        }

.color3{

    color:red;
    
    }
input::placeholder{
    color: red;
}

.colorBoton{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    background-color: red;
    color: white;
}

.colorName{
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

.colorPass{
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

.colorCheck{
    color:white;
}

#pantalla-dividida{
    
    display: flex;
    }

div#general {

    width: 400px;
    height: 100px;
    margin-top: 100px;
}

.imagen{

    border-radius: 10px;
}
